*.iml
/local.properties
/build
/captures
.externalNativeBuild

# Android Studio
.gradle
.idea
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/dictionaries/thredup.xml

# OSX files
.DS_Store